# Ignore everything by default

*

# Allow these folders

!codes/
!codes/**

!graphs/
!graphs/**

# Allow requirements file

!requirements.txt

!README.md

# Allow git files themselves

!.gitignore
!.gitattributes

# Ignore large ML data and artifacts

raw_data/
processed_dataset/
submission_data/
models/

# Ignore development environment files

.vscode/
venv/
**pycache**/
*.pyc
*.pyo

# OS junk

.DS_Store
Thumbs.db
